*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


.btn{
    width: 100%;
    padding:20px;
    font-size:20pt ;
    font-weight:bold;
    font-family:"Vollkorn";
    color:#bbb;
    margin:10px 0;
}

#drop{
	border:2px dashed #bbb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:25px;
	text-align:center;
	font:20pt bold,"Vollkorn";color:#bbb
}
a { text-decoration: none }

.ds-none{
    display:none;
}